.projects {
  display: flex;
  flex-wrap: wrap;
}
.project {
  padding: 1rem;
  margin: 1rem auto;
  width: 45%;
  box-shadow:
    0 15px 30px -5px rgba(0, 0, 0, 0.25),
    0 5px 10px -5px rgba(0, 0, 0, 0.15);
}
.project-backsplash {
  margin: 0;
  width: 100%;
}

.project-title {
  font-size: 1.25rem;
  font-weight: 700;
  z-index: 1;
}

.project-description {
  font-size: 1rem;
}

.project-fun {
  font-size: 0.75;
  color: var(--gray);
}
